// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h3 {
  @media (max-width: $breakpoint-sm-max) {
    font-size: 38px;
    line-height: 38px;
  }
}

p {
  @media (max-width: $breakpoint-sm-max) {
    font-size: 12px;
    line-height: 12px;
  }
}

$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

.q-btn {
  border-radius: 638;
}

.q-table--horizontal-separator thead th {
  border-bottom-width: 0 !important;
}
.custom-table {
  .q-table {
    border-collapse: separate;
    border-spacing: 0 15px;
    th,
    td {
      border: none;
      border-bottom-width: 0 !important;
    }

    tbody {
      tr {
        box-shadow: 0px 4px 5px 4px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        margin: 10px;
        transition: ease-in-out 0.3s;
        td {
          padding-top: 20px;
          padding-bottom: 20px;
          border-top: 2px solid #fff !important;
          border-bottom: 2px solid #fff !important;
          &:first-child {
            border-left: 2px solid #fff !important;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }
        }

        &:hover {
          td {
            border-color: $primary !important;
            &.highlight {
              color: $primary !important;
            }
          }
        }
      }
    }
  }
}
